<div style="margin-left:20px; margin-right: 20px;">
    <h1>About Barware</h1>

    <h2>Purpose</h2>
    <p>The purpose of the Barware is to show the photos which the followed users post in places on the map. Also Barware show all photos that a user posted in place as a mosaic.</p>

    <h2>Terms of Use</h2>
    <p>A user logs into the app with its Instagram account and will see a map with many markers and photos. When the user clicks in specific marker a collection photos posted in this local will be displayed as a mosaic.</p>

    <h2>Contact</h2>
    <p>If you have questions about the Barware project, please email pedromarcelodesaalves@gmail.com </p>
</div>
